$color--gray: #a8a8b3;
$color--yellow: #fff2d8;
$color--black: #444444;

#login-component {
    display: flex;
    align-items: stretch;
    height: 100vh;
    font-family: 'Poppins', sans-serif;

    .illustration {
        flex: 7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15rem 10rem;

        background: $color--yellow;
        color: $color--black;

        img {
            width: 100%;
            margin-bottom: 2rem;
        }
       
    }

    .login-actions {
        flex: 8;
        padding: 0 3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .main-content {
            text-align: center;

            h1 {
                font: 700 3rem 'Poppins', sans-serif;
                margin: 2rem 0;
            }

            .logged-forgot {
                display: flex;
                justify-content: space-between;
            }

            .dont-account {
                margin: 2rem 0;
                color: #a8a8b3;
            }
        }

        .button-google-connect {
            display: flex;
            justify-content: stretch;
            align-items: center;
            width: 100%;
            margin: 3rem 0;

            > img {
                margin-right: 2rem;
            }
        }

        .button-login {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 2rem 0;
            // > span {
            //     margin-left: 7rem;
            // }
        }
    }

    .separator {
        font-size: 0.8rem;
        color: $color--gray;
        margin: 1rem 0;
        display: flex;
        align-items: center;

        p{
            margin-bottom: 0 !important;
        }

        &::before {
            content: '';
            flex: 1;
            height: 1px;
            background-color: $color--gray;
            margin-right: 1rem;
        }

        &:not(.text)::before {
            margin-right: 0rem;
        }

        &::after {
            content: '';
            flex: 1;
            height: 1px;
            background-color: $color--gray;
            margin-left: 1rem;
            
        }

        &:not(.text)::after {
            margin-left: 0rem;
        }
    }
}

@media screen and (max-width: 1024px) {
    #login-component {
        flex-direction: column;

        .illustration {
            padding: 6rem 2rem;
            text-align: center;
        }

        .login-actions {
            padding: 6rem 2rem;

            .main-content {
    
                h1 {
                    font: 700 2rem 'Poppins', sans-serif;
                }

                .logged-forgot { 
                    font-size: 0.8rem;
                }

                .dont-account {
                    font-size: 0.8rem;
                }
            }
        }
    }
}